
    /* style ul as flex */


    header nav ul {
        display: flex;
        list-style: none;
        position: fixed;
        left: 2em;
        top: 0px;
        list-style: none;
        padding-bottom: 10px;
        text-align: center;
        
    
    }



    header nav ul li {
        font-size: 1.8em;
        margin-right: 7.6em;
        z-index: 1;
        
    }

    .active-nav{
        border: 2px solid red;
        border-radius: 7px;
        padding: 2px 5px;
        box-shadow: 0px 5px 5px 0px #d5e0d8;
        color: #000;
        
    }


    header nav ul li a {
        text-decoration: none;
        color: #000;
    }

    /* color white if it is hovered */


    header nav ul li a:hover {
        color: #fff;
        text-shadow: 0px 3px 3px 0px #daf5f5;
    
    }



    /* style header h1*/
    header h1 {
    text-align: center;
    font-size: 3em;
    color: gray;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    }

